// -----------------------------------------------------------------------------
// ACTION BAR
// -----------------------------------------------------------------------------

.actionBar {
    font-size: 12px;
    input[type='text'],
    input[type='search'],
    input[type='email'],
    input[type='password'],
    input[type='tel'] {
        color: $colorBrandBlueDark;
        font-weight: bold;
        border-width: 0;
        background: rgba($colorWhite,.6);
        font-size:inherit;
        height:43px;
        // Placeholder
        &::placeholder {
            color: $colorBrandBlueDark;
        }
    }
    select,
    select:focus {
        font-size: 12px;
        background: $colorBrandBlueDark;
        color: $colorWhite;
        font-weight: bold;
        option {
            background: $colorWhite;
            color: $colorBrandBlueDark;
        }
    }
    .btn {
        //font-size: inherit;
        //line-height: 1.7;
        i {
            font-size:15px;
            line-height:1.4;
        }
    }
    a {
        color: $colorBrandBlueDark;
        text-decoration:underline;
    }
}
.actionBar-searchBox {
    background: rgba($colorWhite,.6);
    .searchBox-textField, .searchBox-textField:focus {
        background:transparent;
        font-weight:bold;
    }
}
.actionBar-heading {
    font-size:24px;
    margin-bottom:1.5rem;
    text-align:center;
}
.actionBar--simpleSearchMobile {
    .searchBox-textField, .btn {
        height:45px;
    }
    @include media-breakpoint-up(md) {
        .searchBox-textField {
            height:43px;
        }
        .btn {
            height:initial;
        }
    }
}
