/* SEARCH BAR
========================================================================== */ 

/* Searchbox/button */
.searchBox {
	display:flex;
	background:$colorWhite;
}
.searchBox-textField, .searchBox-textField:focus {
	padding-right: $spacer/2;
	padding-left:$spacer/2;
	margin:0;
	height:38px;
	line-height:38px;
	border-width:0;
	color:$colorBrandBlueDark;
	flex:1 1 auto;
	background:transparent;
	outline:none;
        // Placeholder
        &::placeholder {
            color: $colorBrandBlueDark;
        }
}
.searchBox-submit {
	@extend .zmdi-search;
	color:$colorBrandBlueDark !important;
	font-size:24px;
	display:flex;
	align-items:center;
	justify-content:center;
	padding-right:$spacer;
	padding-left:$spacer/2;
	&:before {
		@extend %iconStyle;
		margin:0;
	}
	&:hover {
		color:$colorWhite;
	}
}
