// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.tileList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.tileList-tile {
    position: relative;
    width: 100%;
    line-height: 1.2;
    background-repeat: no-repeat;
    background-size: cover;
    color: $colorWhite;
    overflow: hidden;
    &:hover {
        .tileList-inner {
            background: rgba($colorBrandGreen, .85);
        }
    }
    @include media-breakpoint-up(md) {
        flex: 0 0 50%;
    }
    @include media-breakpoint-up(lg) {
        flex: 0 0 25%;
    }
    @include media-breakpoint-down(sm) {
        background-image:none !important;
    }
}

.tileList-inner {
    padding: $spacer $spacer*2;
    transition: background 0.5s;
    @include media-breakpoint-up(md) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
        justify-content: flex-end;
        z-index: 2;
    }
}

.tileList-fullLink {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: inherit;
    z-index: 3;
}

.tileList-heading {
    font-weight: 300;
    font-size: 24px;
    position: relative;
    // &:after {
    //     content: '\f2fb';
    //     display: inline-block;
    //     font: normal normal normal 14px/1 '#{$zmdi-font-name}';
    //     font-size: inherit;
    //     text-rendering: auto;
    //     -webkit-font-smoothing: antialiased;
    //     -moz-osx-font-smoothing: grayscale;
    //     color:$colorBrandGreen;
    //     font-size:30px;
    //     height:1em;
    //     width:1em;
    //     text-align:center;
    //     vertical-align:-.15em;
    // }
}

.tileList-caption {
    display: none;
    @include media-breakpoint-up(md) {
        display: block;
    }
}
