.headerMain
	.container.container-fluid.p-0
		nav.headerMain-navUtil.navbar.navbar-expand-md.justify-content-md-end.p-0
			ul.navbar-nav
				li.nav-item
					a.nav-link.zmdi-favorite.active(href='#') Favorites
				li.nav-item
					a.nav-link.zmdi-account-circle(href='#') Account Info
				li.nav-item
					a.nav-link.zmdi-square-right(href='#') Log Out
				li.nav-item
					a.nav-link.zmdi-home(href='#') Manatt Home
	nav.headerMain-navMain.navbar.navbar-expand-md.navbar-inverse.bg-inverse
		.container.container-fluid.p-0
			button.headerMain-navToggler.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation') Menu
				span.navbar-toggler-icon
			a.navbar-brand.order-first(href='#') 360 health
			#navbarSupportedContent.headerMain-collapse.collapse.navbar-collapse
				ul.headerMain-navItems.navbar-nav.ml-auto
					li.nav-item.hasChildren.active
						a.nav-link(href='#')
							| Premium Insights
						ul.navbar-subnav
							li.nav-item
								a.nav-link(href='#') Sub Link 01
							li.nav-item
								a.nav-link(href='#') Sub Link 02
							li.nav-item
								a.nav-link(href='#') Sub Link 03
							li.nav-item
								a.nav-link(href='#') Sub Link 04
							li.nav-item
								a.nav-link(href='#') Sub Link 05
							li.nav-item
								a.nav-link(href='#') Sub Link 06
					li.nav-item.hasChildren
						a.nav-link(href='#') Key Topics
						ul.navbar-subnav
							li.nav-item
								a.nav-link(href='#') Sub Link 01
							li.nav-item
								a.nav-link(href='#') Sub Link 02
							li.nav-item
								a.nav-link(href='#') Sub Link 03
							li.nav-item
								a.nav-link(href='#') Sub Link 04
							li.nav-item
								a.nav-link(href='#') Sub Link 05
							li.nav-item
								a.nav-link(href='#') Sub Link 06
					li.nav-item.hasChildren
						a.nav-link(href='#') Analytics
						ul.navbar-subnav
							li.nav-item
								a.nav-link(href='#') Sub Link 01
							li.nav-item
								a.nav-link(href='#') Sub Link 02
							li.nav-item
								a.nav-link(href='#') Sub Link 03
							li.nav-item
								a.nav-link(href='#') Sub Link 04
							li.nav-item
								a.nav-link(href='#') Sub Link 05
							li.nav-item
								a.nav-link(href='#') Sub Link 06
					li.nav-item.hasChildren
						a.nav-link(href='#') Publications &amp; Events
						ul.navbar-subnav
							li.nav-item
								a.nav-link(href='#') Sub Link 01
							li.nav-item
								a.nav-link(href='#') Sub Link 02
							li.nav-item
								a.nav-link(href='#') Sub Link 03
							li.nav-item
								a.nav-link(href='#') Sub Link 04
							li.nav-item
								a.nav-link(href='#') Sub Link 05
							li.nav-item
								a.nav-link(href='#') Sub Link 06
					li.nav-item
						a.nav-link(href='#') People
				form#headerMainSearch.headerMain-search.my-3.my-lg-0.ml-auto.mr-md-2
					input#headerMainSearch.headerMain-searchBox.form-control(type='text', placeholder='Search')
					button.btn.btn-success(type='submit') GO
				button.headerMain-searchToggler.zmdi-search