meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name='viewport', content='width=device-width,initial-scale=1.0')
link(href='style/css/main.css', rel='stylesheet')
script(src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
//- script(src="js/front-end/frontEnd-min.js")
script(src="js/vendor/bootstrap/util.js")
script(src="js/vendor/bootstrap/collapse.js")
script(src="js/vendor/bootstrap/carousel.js")
script(src="js/front-end/waitForFinalEvent.js")
script(src="js/front-end/retach.js")
script(src="js/front-end/searchToggle.js")
script(src="js/front-end/mobileSubToggles.js")
script(src="js/front-end/pickerChooser.js")
//- script(src="js/vendor/picturefill.min.js")
//- script(src="js/vendor/lazysizes.min.js")
