.social
	.social-favorite
		.social-title  Favorite
		//- add class of "social-favLink--favorited" if this page has been favorited
		a.social-favLink(href='')
	.social-title Share
	ul.social-iconList
		li
			a.social-iconLink.zmdi-linkedin(href='')
		li
			a.social-iconLink.zmdi-facebook(href='')
		li
			a.social-iconLink.zmdi-twitter(href='')
		li
			a.social-iconLink.zmdi-email(href='')
