// -----------------------------------------------------------------------------
// COVER BG
// -----------------------------------------------------------------------------

.coverBg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
