/*  FILLS
========================================================================== */

/*
 * Apply background colors
 */



.fillColorGray {
    background-color: $colorGray !important;
    &, a:not(.btn), a:not(.btn):hover {
        color: color-contrast($colorGray);
    }
}
.fillColorGrayLight {
    background-color: $colorGrayLight !important;
    & {
        color: color-contrast($colorGrayLight);
    }
}
.fillColorGrayLighter {
    background-color: $colorGrayLighter !important;
    & {
        color: color-contrast($colorGrayLighter);
    }
}
.fillColorGrayLightest {
    background-color: $colorGrayLightest !important;
    & {
        color: color-contrast($colorGrayLightest);
    }
}
.fillColorGrayDark {
    background-color: $colorGrayDark !important;
    &, a:not(.btn), a:not(.btn):hover {
        color: color-contrast($colorGrayDark);
    }
}
.fillColorGrayDarker {
    background-color: $colorGrayDarker !important;
    &, a:not(.btn), a:not(.btn):hover {
        color: color-contrast($colorGrayDarker);
    }
}
.fillColorGrayDarkest {
    background-color: $colorGrayDarkest !important;
    &, a:not(.btn), a:not(.btn):hover {
        color: color-contrast($colorGrayDarkest);
    }
}
.fillColorBlack {
    background-color: $colorBlack !important;
    &, a:not(.btn), a:not(.btn):hover {
        color: color-contrast($colorBlack);
    }
}
.fillColorWhite {
    background-color: $colorWhite !important;
    & {
        color: color-contrast($colorWhite);
    }
}
//brand colors
.fillColorBrandGold {
    background-color: $colorBrandGold !important;
    & {
        color: color-contrast($colorBrandGold);
    }
}
.fillcolorBrandCyan {
    background-color: $colorBrandCyan !important;
    & {
        color: color-contrast($colorBrandCyan);
    }
}
.fillcolorBrandTurq {
    background-color: $colorBrandTurq !important;
    & {
        color: color-contrast($colorBrandTurq);
    }
}
.fillcolorBrandGreen {
    background-color: $colorBrandGreen !important;
    & {
        color: color-contrast($colorBrandGreen);
    }
}
.fillcolorBrandRed {
    background-color: $colorBrandRed !important;
    & {
        color: color-contrast($colorBrandRed);
    }
}
.fillcolorBrandOrange {
    background-color: $colorBrandOrange !important;
    & {
        color: color-contrast($colorBrandOrange);
    }
}
.fillcolorBrandMagenta {
    background-color: $colorBrandMagenta !important;
    & {
        color: color-contrast($colorBrandMagenta);
    }
}
.fillcolorBrandBlueDark {
    background-color: $colorBrandBlueDark !important;
    & {
        color: color-contrast($colorBrandBlueDark);
    }
}
