/*  TEXT COLORS
========================================================================== */

/*
 * Apply text colors
 */



.colorGray {
    color: $colorGray !important;
}
.colorGrayLight {
    color: $colorGrayLight !important;
}
.colorGrayLighter {
    color: $colorGrayLighter !important;
}
.colorGrayLightest {
    color: $colorGrayLightest !important;
}
.colorGrayDark {
    color: $colorGrayDark !important;
}
.colorGrayDarker {
    color: $colorGrayDarker !important;
}
.colorGrayDarkest {
    color: $colorGrayDarkest !important;
}
.colorBlack {
    color: $colorBlack !important;
}
.colorWhite {
    color: $colorWhite !important;
}
//brand colors
.colorBrandGold {
    color: $colorBrandGold !important;
}
.colorBrandCyan {
    color: $colorBrandCyan !important;
}
.colorBrandTurq {
    color: $colorBrandTurq !important;
}
.colorBrandGreen {
    color: $colorBrandGreen !important;
}
.colorBrandRed {
    color: $colorBrandRed !important;
}
.colorBrandOrange {
    color: $colorBrandOrange !important;
}
.colorBrandMagenta {
    color: $colorBrandMagenta !important;
}
.colorBrandBlueDark {
    color: $colorBrandBlueDark !important;
}
