// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// $font-family-base: 'Univers W01',
// Helvetica,
// Arial,
// Sans-Serif;
// $headings-font-family: 'Clarendon W01',
// Georgia,
// serif;
$font-family-base:ArialMT, Arial, Helvetica Neue, Helvetica, sans-serif;
$headings-font-family:Georgia, Times, Times New Roman, serif;
$headings-font-weight: normal;
//MATERIAL DESIGN ICON FONT OVERRIDES
$zmdi-font-path: "../../fonts" !default;
$zmdi-font-name: "Material-Design-Iconic-Font" !default;
$input-btn-padding-y: .66rem;
$input-btn-line-height: 1.25;
$btn-border-radius: 0;
$input-border-radius: 0;
//BOOTSTRAP OVERRIDES
// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: ( sm: 1197px, md: 1198px, lg: 1199px, xl: 1200px) !default;
// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacer: 1rem !default;
$spacers: ( 0: 0, 1: ($spacer * .25), 2: ($spacer * .5), 3: $spacer, 4: ($spacer * 1.5), 5: ($spacer * 1.75), 6: ($spacer * 2), 7: ($spacer * 2.25), 8: ($spacer * 2.5), 9: ($spacer * 3), 10: ($spacer * 3.25), 11: ($spacer * 3.5), 12: ($spacer * 3.75), 13: ($spacer * 4)) !default;
$btn-primary-bg: $colorBrandGreen !default;
//change nav inverse color
$navbar-inverse-color: $colorWhite !default;
$brand-inverse: $colorBrandBlueDark !default;
//fontawesome path
$fa-font-path: "../../fonts" !default;
