/**
 * Basic typography style for copy text
 */
//  body {
// 	font-family:$fontDefault;
// }
// h1, h2, h3, h4, h5, h6 {
// 	font-family:$fontHighLight;
// 	font-weight:normal;
// }
.heading--underline {
	border-bottom:2px solid $colorText;
	padding-bottom:$spacer/2;
}
.heading--sm {
	font-size:16px;
}
.heading--defaultFont {
	font-family:inherit;
}
.heading--center {
	text-align:center;
}