doctype html
html(lang="en")
	head
		include includes/_head.pug
		title Disqus - text Issues
	body
		include includes/_headerMain.pug
		include includes/_utilityBar.pug
		main
			.container
				article.article
					.article-header
						h1.article-heading Antitrust Law
						p.article-byline By 
							a(href="") Lisl J. Dunlop
						p.article-date January 23, 2017
					h2.article-lede
						| This is the Article Lede
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					h3 Sub Heading
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				h2.heading--underline.text-center.h1.mb-6.pb-4.colorBrandGreen Related Content
				section.featureBlock
					.contentItem.contentItem--keyTopic.featureBlock-contentItem
						.contentItem-indicator.fa-address-book
							| Key Topic
						h2.contentItem-title
							| Key Topic Content Item
						.contentItem-blurb.js-truncate
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam ac mauris. Quisque eget metus eget tellus ultrices rhoncus. Phasellus id lacus semper lacus suscipit pretium. Nulla mollis ligula id tellus. Duis ac libero. Nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus sodales lacus a risus.Vivamus sodales lacus a risus.
					.contentItem.contentItem--premiumInsight.featureBlock-contentItem
						.contentItem-indicator
							| Premium Insight
						h2.contentItem-title
							| Premium Insight Content Item
						.contentItem-blurb.js-truncate
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam ac mauris. Quisque eget metus eget tellus ultrices rhoncus. Phasellus id lacus semper lacus suscipit pretium. Nulla mollis ligula id tellus. Duis ac libero. Nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus sodales lacus a risus.Vivamus sodales lacus a risus.
					.contentItem.contentItem--analysis.featureBlock-contentItem
						.contentItem-indicator
							| Analysis
						h2.contentItem-title
							| Analysis Content Item
						.contentItem-blurb.js-truncate
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam ac mauris. Quisque eget metus eget tellus ultrices rhoncus. Phasellus id lacus semper lacus suscipit pretium. Nulla mollis ligula id tellus. Duis ac libero. Nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus sodales lacus a risus.Vivamus sodales lacus a risus.
		include includes/_footerMain.pug

								