doctype html
html(lang="en")
	head
		include includes/_head.pug
		title Disqus
	body
		include includes/_headerMain.pug
		include includes/_utilityBar.pug
		main
			.container
				article.article
					.article-header
						h1.article-heading Antitrust Law
						p.article-byline By 
							a(href="") Lisl J. Dunlop
						p.article-date January 23, 2017
					h2.article-lede
						| This is the Article Lede
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					h3 Sub Heading
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				section.py-5.coverBg.text-white(style="background-image:url(http://placehold.it/1200x500/404040)")
					h2.py-3.py-md-5.text-center Related Content
					ul.tileList
						li.tileList-tile.ar-md--1-1(style="background-image:url(http://placehold.it/300x300/696969)")
							a(href="").tileList-fullLink
							.tileList-inner
								h3.tileList-heading Character max - 30 - Title
								p.tileList-caption
									| Character max - 80 - Lorem ipsum dolor sit amet, consectetur adipiscing elit, se
						li.tileList-tile.ar-md--1-1(style="background-image:url(http://placehold.it/300x300/707070)")
							a(href="").tileList-fullLink
							.tileList-inner
								h3.tileList-heading Character max - 30 - Title
								p.tileList-caption
									| Character max - 80 - Lorem ipsum dolor sit amet, consectetur adipiscing elit, se
						li.tileList-tile.ar-md--1-1(style="background-image:url(http://placehold.it/300x300/696969)")
							a(href="").tileList-fullLink
							.tileList-inner
								h3.tileList-heading Character max - 30 - Title
								p.tileList-caption
									| Character max - 80 - Lorem ipsum dolor sit amet, consectetur adipiscing elit, se
		include includes/_footerMain.pug

								