doctype html
html(lang="en")
	head
		include includes/_head.pug
		title [client name]

	body
		main
			.container
				table(width="100%").table.table-striped
					thead
						tr
							th #
							th Page Template
							th Info
					tbody
						tr
							th(scope='row') 001
							td
								a(href='home.html') Home
							td.zmdi-hourglass-alt in progress
						tr
							th(scope='row') 002
							td
								a(href='search-results.html') Search Results
							td.zmdi-hourglass-alt in progress
						tr
							th(scope='row') 003
							td
								a(href='roadblock.html') Roadblock
							td.zmdi-hourglass-alt in progress
						tr
							th(scope='row') 004
							td
								a(href='key-topic.html') Key Topic
							td.zmdi-hourglass-alt in progress
