doctype html
html(lang="en")
	head
		include includes/_head.pug
		title People
	body
		include includes/_headerMain.pug
		main
			.container
				section.actionBar.js-homepage-actionBar.px-8.py-md-12.fillColorBrandCyan.fullWidth
					p.text-center.text-uppercase.font-weight-bold
						| Filter Staff By

					.row.sm-gutters
						.col-md
							.searchBox.actionBar-searchBox.mb-2.mb-md-0
								input.searchBox-textField(type='text', name='', placeholder='Search Staff')
								span.searchBox-submit
						.col-md
							label.sr-only(for='topic') Areas of Expertise
							.customSelect.mb-2.mb-md-0
								select#topic.customSelect-select.form-control
									option Areas of Expertise
									option 2
									option 3
									option 4
								.customSelect-icon
						.col-md
							label.sr-only(for='content') Backgrounds
							.customSelect.mb-2.mb-md-0
								select#content.customSelect-select.form-control
									option Backgrounds
									option 2
									option 3
									option 4
								.customSelect-icon
				ul.peopleList
					li.peopleList-tile.ar--5-6
						a(href="").peopleList-fullLink View Full Bio
						.peopleList-inner
							h3.peopleList-name Firstname Lastnametwolines
							p.peopleList-title
								| Title Name
							img.peopleList-img(src='http://placehold.it/490x588/696969')
					li.peopleList-tile.ar--5-6
						a(href="").peopleList-fullLink View Full Bio
						.peopleList-inner
							h3.peopleList-name Firstname Lastnametwolines
							p.peopleList-title
								| Title Name
							img.peopleList-img(src='http://placehold.it/490x588/696969')
					li.peopleList-tile.ar--5-6
						a(href="").peopleList-fullLink View Full Bio
						.peopleList-inner
							h3.peopleList-name Firstname Lastnametwolines
							p.peopleList-title
								| Title Name
							img.peopleList-img(src='http://placehold.it/490x588/696969')
					li.peopleList-tile.ar--5-6
						a(href="").peopleList-fullLink View Full Bio
						.peopleList-inner
							h3.peopleList-name Firstname Lastnametwolines
							p.peopleList-title
								| Title Name
							img.peopleList-img(src='http://placehold.it/490x588/696969')
					li.peopleList-tile.ar--5-6
						a(href="").peopleList-fullLink View Full Bio
						.peopleList-inner
							h3.peopleList-name Firstname Lastnametwolines
							p.peopleList-title
								| Title Name
							img.peopleList-img(src='http://placehold.it/490x588/696969')
					li.peopleList-tile.ar--5-6
						a(href="").peopleList-fullLink View Full Bio
						.peopleList-inner
							h3.peopleList-name Firstname Lastnametwolines
							p.peopleList-title
								| Title Name
							img.peopleList-img(src='http://placehold.it/490x588/696969')
					li.peopleList-tile.ar--5-6
						a(href="").peopleList-fullLink View Full Bio
						.peopleList-inner
							h3.peopleList-name Firstname Lastnametwolines
							p.peopleList-title
								| Title Name
							img.peopleList-img(src='http://placehold.it/490x588/696969')
					li.peopleList-tile.ar--5-6
						a(href="").peopleList-fullLink View Full Bio
						.peopleList-inner
							h3.peopleList-name Firstname Lastnametwolines
							p.peopleList-title
								| Title Name
							img.peopleList-img(src='http://placehold.it/490x588/696969')
					li.peopleList-tile.ar--5-6
						a(href="").peopleList-fullLink View Full Bio
						.peopleList-inner
							h3.peopleList-name Firstname Lastnametwolines
							p.peopleList-title
								| Title Name
							img.peopleList-img(src='http://placehold.it/490x588/696969')
					li.peopleList-tile.ar--5-6
						a(href="").peopleList-fullLink View Full Bio
						.peopleList-inner
							h3.peopleList-name Firstname Lastnametwolines
							p.peopleList-title
								| Title Name
							img.peopleList-img(src='http://placehold.it/490x588/696969')
					li.peopleList-tile.ar--5-6
						a(href="").peopleList-fullLink View Full Bio
						.peopleList-inner
							h3.peopleList-name Firstname Lastnametwolines
							p.peopleList-title
								| Title Name
							img.peopleList-img(src='http://placehold.it/490x588/696969')
					li.peopleList-tile.ar--5-6
						a(href="").peopleList-fullLink View Full Bio
						.peopleList-inner
							h3.peopleList-name Firstname Lastnametwolines
							p.peopleList-title
								| Title Name
							img.peopleList-img(src='http://placehold.it/490x588/696969')
					li.peopleList-tile.ar--5-6
						a(href="").peopleList-fullLink View Full Bio
						.peopleList-inner
							h3.peopleList-name Firstname Lastnametwolines
							p.peopleList-title
								| Title Name
							img.peopleList-img(src='http://placehold.it/490x588/696969')
					li.peopleList-tile.ar--5-6
						a(href="").peopleList-fullLink View Full Bio
						.peopleList-inner
							h3.peopleList-name Firstname Lastnametwolines
							p.peopleList-title
								| Title Name
							img.peopleList-img(src='http://placehold.it/490x588/696969')
					li.peopleList-tile.ar--5-6
						a(href="").peopleList-fullLink View Full Bio
						.peopleList-inner
							h3.peopleList-name Firstname Lastnametwolines
							p.peopleList-title
								| Title Name
							img.peopleList-img(src='http://placehold.it/490x588/696969')
				//- .pagination
				//- 	a.pagination-beginning
				//- 	a.pagination-prev
				//- 	.pagination-status Page
				//- 		.pagination-on 1
				//- 		|of
				//- 		.pagination-total 4
				//- 	a.pagination-next
				//- 	a.pagination-end



								